pkgbase = gittree-bin
	pkgdesc = A fast, visual and privacy-first Git desktop client (prebuilt release)
	pkgver = 0.20.4
	pkgrel = 1
	url = https://github.com/giannoccarol/gittree
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = libnotify
	depends = nss
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = at-spi2-core
	depends = libsecret
	depends = alsa-lib
	depends = util-linux-libs
	optdepends = libappindicator-gtk3: system tray support
	provides = gittree
	conflicts = gittree
	source = https://github.com/giannoccarol/gittree/releases/download/v0.20.4/GitTree-0.20.4-linux-amd64.deb
	sha256sums = ea68fbeef42c1eaa82af78611ad43332785bdb87f91feb900c4efff04a979356

pkgname = gittree-bin
